/* styles.css */

.div{
    display: flex;
}
button {
    margin-left: 20px;
   
}
div{
    padding-top: 10px   ;
}
progress{

    height: 50px;
}
#label {
    text-align: center;
    line-height: 30px;
    color: white;
  }
/* Add styles here to customize the appearance of your app */