/* styles.css */

.div{
    display: flex;
}
button {
    margin-left: 20px;
   
}
div{
    padding-top: 10px   ;
}

#label {
    text-align: center;
    line-height: 30px;
    color: black;
}

progress{
  text-align:center;

  width:200px;
}
progress:before {
  content: 'Value is ' attr(value);
  position:relative;
  top:5px;
}
.unique:before {
  content: attr(data-label);
}
/* Add styles here to customize the appearance of your app */