/* styles.css */

.div{
    display: flex;
    align-items: baseline;
}
button {
    margin-left: 10px;
    margin-right: 10px;
    height: 24px; 
    
}
.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}
progress{
  text-align:center;
  /* width:200px; */
  height: 48px;
  line-height: 48px; 
  margin-left: 5px;
}
progress:before {
  content: 'Value is ' attr(data-label) " %";
  position:relative;
  /* top:5px; */
}
.unique:before {
  content: attr(data-label);
}
#presenters{
  display: block;
  justify-content: center;
  align-items: center;
}